// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary:   #2861E6;
$secondary: #E1E5EC;
$accent:    #163FA8;

$dark:      #0A0E1A;
$dark-page: #0A0E1A;

$positive: #0A0E1A;
$negative: #0A0E1A;
$info:     #2861E6;
$warning:  #5A6173;
